.navigation-link {
  padding: var(--wa-space-2xs) var(--wa-space-xs);
}

.navigation-link[data-selected] {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: var(--wa-border-radius-s);
}